
#header {
font-family: "Comic Sans MS", cursive, sans-serif;
}

#walk_img {
max-height: 600px;
max-width: 400px;
align: center;
}

body {
 background-color: gray;
}

h1, h2, h3, h4 {
text-align: center;
 color: #00ffff;
}